<div class="d-flex">
  <div class="p-2" routerLink="/dashboard">Dashboard</div>
  <div class="p-2"> | </div>
  <div class="p-2" *ngIf='isLogged$ | async' routerLink="/animali">Animali</div>
    <button (click)="goToLogin()" *ngIf="!(isLogged$ | async); else loggedUserInfo"
          id="btn-login">Login
    </button>
    <ng-template #loggedUserInfo>
      <div id="user-info">
      <div id="user-detail">Welcome, {{ authenticationService.MOCKED_USERNAME}}</div>
    </div>
    <button (click)="authenticationService.logout()">Logout</button>
  </ng-template>
</div>
<router-outlet></router-outlet>